@{
    ViewData["Title"] = "О проекте";
}

<h1>О проекте</h1>

<p>
    Дипломный проект:
    «Разработка АИС учета мер социальной поддержки».
</p>

<p>
    Разработчик: Лоскутова С.С.
</p>

<p>
    Руководитель проекта: __________
</p>