@{
    ViewData["Title"] = "Скачать";
}

<h1>Скачать приложение</h1>

<p>Версия: 1.0</p>

<p>Системные требования: Windows 10/11</p>

<a class="btn btn-primary" href="/files/setup.exe">
    Скачать setup.exe
</a>