@{
    ViewData["Title"] = "Возможности";
}

<h1>Возможности системы</h1>

<ul>
    <li>Учет граждан</li>
    <li>Работа с мероприятиями</li>
    <li>Формирование отчетов</li>
    <li>Учет заявок</li>
</ul>