@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1>АИС учета мер социальной поддержки</h1>

    <p>
        Система предназначена для автоматизации учета граждан пожилого возраста.
    </p>

    <p>
        ГАУ «КЦСОН Камышловского района»
    </p>
</div>